@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

.header,
.tab-section {
    background-color: #68BBE3;
    color: #fff
}

p {
    margin: 0;
}

.nav-link.active {
    background-color: #0E86D4!important;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.186) inset;
}

.nav-link {
    border: #0E86D4 solid 1px!important;
    color: #fff!important;
    font-weight: medium;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.186);
}

.cases,
.recovery,
.death {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    /* border: #000 solid 2px; */
    border-radius: 50%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.159);
}

.cases {
    background-color: #f4b43ded;
}

.recovery {
    background-color: #2cc98fb6;
}

.death {
    background-color: #fc6142cd;
}

@media screen and (min-width: 601px) {
    .tab-display {
        flex-direction: row!important;
        gap: 20px!important;
    }

    .cases,
    .recovery,
    .death {
        width: 200px;
        height: 200px;
    }

    .container-xl {
        max-width: 800px;
    }
    
}